<h1> About Us </h1>
<img src="taxi1.png" align="right"><br>
<B>CAB SERVICE</B><br><br>
&nbsp &nbsp &nbsp &nbsp &nbsp There may be many other sites and company provide the same service but what differ
them form as is the relabity and the quality of the service. we provide service to the customer with loyality and
disciplin<br><br>
&nbsp &nbsp &nbsp &nbsp &nbsp And we provide the cab's with perfect quality and the each cab has the all the quality
paper and in the perfect condition if any neccessary the customer can view the paper of the cab with the knowledege
of the driver<br><br>
&nbsp &nbsp &nbsp &nbsp &nbsp The drivers are well trained and they are world class drivers they has their paper's
like (license) all are with the driver so no problem in will be in any ways and the driver are well trained in
the mechanic side too so if there is any minor problem arises the driver himself can manage the problem so there
will be on happy journey and safe travel...<br><br><br>
<center>@@@@@ HAPPY AND SAFE JOURNEY ENJOY THE TRIP @@@@@</center>
