<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h4>Hi <%= @user.email %></h4>
  <p>
    You have booked your cab sucessfully.
    Please login to <%= @url %> for more information
  </p>
</body>
</html>
